{{page-title "Homepage"}}
<div>
<center><h1>CRICKET COMMENTARY PAGE</h1></center>
<div class="box">
<h4>TOTAL RUNS TO BE ACHIEVED:154</h4>
<h4>OVERS:20</h4>
<h4>TEAM NAME:CSK</h4> 
</div>
<LinkTo @route="gamepage" class="button">START</LinkTo>
</div>
{{outlet}}